<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title><%= title %>
            - Examen</title>
        <%- include('partials/head'); %>
    </head>
    <body>
        <%- include('partials/navigation'); %>

        <div class="jumbotron image-banner index-banner">
            <div class="container">
                <h1 class="display-4">Inicio</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et voluptatum reiciendis, modi sint odit dolorum aliquid voluptatibus facilis saepe qui necessitatibus explicabo nulla doloremque ipsum eligendi? Assumenda itaque voluptatibus minima.</p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Lorem Ipsum</h2>

                    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, at maiores error porro ipsa doloribus quos suscipit enim deserunt illum non vero ex minus excepturi pariatur, aspernatur asperiores mollitia. Quisquam?
                    Laboriosam ratione provident praesentium corrupti est minima quos nostrum tenetur, dicta delectus, autem incidunt totam reprehenderit. Ad optio modi facere iste dolorem voluptates pariatur mollitia? Ipsum veritatis cupiditate illo corrupti?
                    Dolor libero illum impedit, corrupti autem saepe molestias, nostrum, unde consequatur expedita itaque quasi reiciendis doloribus! Natus cum eos aut quis facilis, ipsa ab, repellendus voluptates blanditiis magni incidunt molestias?
                    Accusamus, dolores. Error repudiandae commodi ipsum dolor reiciendis libero, quidem voluptate asperiores quasi, tempora praesentium consequuntur consequatur debitis veniam modi corporis! Minus vel suscipit dicta impedit quaerat quia explicabo expedita!
                    Perspiciatis esse aut accusamus ipsa animi odio nihil iusto, inventore quasi veniam commodi consequuntur error! Nostrum, assumenda quas, excepturi a ratione necessitatibus nesciunt reiciendis beatae dolorum eum reprehenderit molestiae magnam.</p>
                </div>
                <div class="col-md-6">
                    <h2>Lorem Ipsum</h2>

                    <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet atque adipisci iusto labore assumenda quibusdam exercitationem, veniam, aliquam nemo asperiores unde maxime facilis impedit porro necessitatibus optio possimus, quasi quod?
                    Sit nostrum ipsam nobis nulla, aut odio fugiat consequatur, alias deleniti nihil autem sunt voluptatibus amet quod laboriosam voluptate iusto dolorum, omnis a nemo consequuntur vel neque explicabo cum. Pariatur.
                    Quas doloribus qui deleniti ea, odit reprehenderit rem ex, magnam tenetur ducimus maiores distinctio blanditiis doloremque repudiandae! Obcaecati voluptates dignissimos architecto modi esse alias repellat sunt, reprehenderit consequatur ullam earum.
                    Adipisci dolorum unde ipsa error aspernatur sit porro amet dolores ullam tempore reprehenderit possimus nihil quidem eaque sequi libero, illo inventore. A eum dignissimos aut perferendis repellendus aspernatur. Facere, repellendus?
                    Dolores ullam nam aspernatur cum cumque magni, cupiditate sequi mollitia et consectetur, asperiores dolore non molestiae suscipit architecto. Tempore, minus dolores atque itaque dignissimos voluptas repellendus vitae. Ducimus, praesentium dolore!</p>
                </div>
            </div>
        </div>

        <%- include('partials/scripts'); %>
    </body>
</html>
